<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rabbitMQ" type="SSharing.Frameworks.Configurations.RabbitMQConfigurationSection, SSharing.Frameworks.Configurations" />
  </configSections>
  <!--rabbitMQ配置-->
  <rabbitMQ hostName="rabbitmq.dev.ssharing.com" port="25672" userName="admin" password="P@ssw0rd.123" vhost="Log.VHost.DEV" />
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>